@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'LeckerliOne';
    src: url('./assets/fonts/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Syne';
    src: url('./assets/fonts/SourceSans3-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

  /* .no-scroll {
    overflow: hidden;
    position: fixed;  
    width: 100%;  
  } */

.react-calendar {
  background-color: white;
  width: 100% !important;
  border: none !important;
}


.react-calendar__tile {
  border-radius: 8px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}


.react-calendar__tile--active {
  background-color: #4fd1c5 !important;
  color: white !important; 
  border-radius: 8px;
  font-weight: bold;
}

.react-calendar__tile:hover {
  background-color: rgba(79, 209, 197, 0.3); 
  cursor: pointer;
}


.react-calendar__tile--now { 
  background-color: rgb(199, 199, 199) !important;
  border-radius: 8px;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__month-view__days button {
  color: black !important;
}


.react-calendar__navigation button {
  background-color: #4fd1c5; 
  color: black;
  border-radius: 8px;
  padding: 8px;
  border: none;
  font-size: 1.25rem;
}

.react-calendar__navigation button:hover {
  background-color: #38b2ac !important; 
}


.react-calendar__navigation__label {
  pointer-events: none;
  cursor: default;
}