@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'LeckerliOne';
    src: url('./assets/fonts/LeckerliOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Syne';
    src: url('./assets/fonts/SourceSans3-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

  /* .no-scroll {
    overflow: hidden;
    position: fixed;  
    width: 100%;  
  } */
   /* Customize the overall calendar */
.react-calendar {
  background-color: white;
  width: 100% !important;
  border: none !important;
}

/* Style the date tiles with rounded corners */
.react-calendar__tile {
  border-radius: 8px; /* Rounded corners on each day tile */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
}

/* Highlight the selected date with a teal background */
.react-calendar__tile--active {
  background-color: #4fd1c5 !important; /* Teal background */
  color: white !important; /* Ensure the text is white */
  border-radius: 8px; /* Rounded corners */
  font-weight: bold; /* Make text stand out */
}

/* Highlight the hovered tile with a lighter teal */
.react-calendar__tile:hover {
  background-color: rgba(79, 209, 197, 0.3); /* Lighter teal for hover */
  cursor: pointer;
}

/* Style today's date with a teal border */
.react-calendar__tile--now { /* Teal border for today */
  background-color: rgb(199, 199, 199) !important;
  border-radius: 8px;
}
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}

.react-calendar__month-view__days button {
  color: black !important;
}

/* Navigation button styles */
.react-calendar__navigation button {
  background-color: #4fd1c5; /* Teal background for navigation buttons */
  color: black;
  border-radius: 8px;
  padding: 8px;
  border: none;
  font-size: 1.25rem;
}

/* Hover effect for navigation buttons */
.react-calendar__navigation button:hover {
  background-color: #38b2ac !important; /* Darker teal on hover */
}
